@import "./utilities/vars-typo";
@import "./utilities/mq";
@import "./utilities/reset";
@import "./utilities/estilos-compartidos";
@import "./secciones/header";
@import "./secciones/main-index";
@import "./secciones/main-clases";
@import "./secciones/main-zonas-de-buceo";
@import "./secciones/main-galeria";
@import "./secciones/main-contacto";
@import "./secciones/footer";


/* MAIN */


.button{
    background-color: black;
    color: white;
    padding: 10px; 
    border-radius: 15px;
    margin: 10px;
    padding: 7px 40px;
    box-shadow: 6px 7px 4px gray;
}




/* MAIN CONTACTO */
// .fondo-contacto{
//     background-image: url("../recursos/mar\ abierto.jpg"); 
//     background-repeat: no-repeat; 
//     background-size: 100% 100%;
//     background-attachment: fixed;
// }
// .ancho-maximo{
//     max-width: 800px;
//     margin: 30px auto;
//     padding: 30px;
// }
// form{
//     display: flex;
//     flex-direction: column;
// }
// .fuente{
//     font-size: 20px;
//     font-weight: bold;
// }
// .subrayado{
//     text-decoration: underline;
// }
// input{
//     display: block;
// }
// form input{
//     width: 260px;
//     margin: 3px;
// }
// textarea{
//     width: 260px;
//     margin: 3px;
// }
// .me-interesa{
//     padding: 10px;
// }

/* ---MEDIA QUERY--- */
@media(min-width:768px){
     /* CLASES MQ */
    
    // .section-clases{
    //     display: flex;
    // }
    // .section-clases p{
    //     margin: 10px;
    // }
    // .img-size-clases{
    //     width: 350px;
    //     height: 150px;
    //     margin: 20px;
    // }
    // .clases{ 
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     width: 500px;
    //     justify-content: center;
    // }
    // .mapas-clases{
    //     display: flex;
    // }
    // /*ZONAS MQ */
    .img-size-zonas{
        width: 350px;
        height: 150px;
        margin: 20px;
    }
    .img-mapa-zonas{
    width: 500px;
    margin: 20px 100px;
    }
     /* CONTACTO MQ*/
    // form{
    //     align-items: center;
    // }
    // .centrar{
    //     text-align: center;
    // }
    
}
@media (min-width:1024px){
    .button:hover{
        background-color: white;
        color: blue;
        font-weight: bold;
        transform: scale(1.03);
        transition: .3s;
    }
    /* ZONAS MQ */
    .img-size-zonas{
        width: 450px;
        height: 250px;
        margin: 50px;
    }  
    .img-mapa-zonas{
    width: 700px;
    margin: 50px 300px;
    }
}
