@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.typo-externa{
    font-family: 'Pacifico', cursive;
}
$linear-gradient:(blue, #60acf4,aquamarine, white);
$radial-gradient:(blue, #53a7f6,#3af3b5,white)