.mapa-zonas{
    display: flex;
    justify-content: center;
    img{
        width: 280px;
        margin: 20px 0;
        box-shadow: 0 0 20px gray; ;
        @include tablet{
            width: 500px;
            margin: 30px 0;
        }    
        @include laptop{
            width: 700px;
            margin: 50px 0;
        }
    }
}
.section-clases{
    border: 1px solid gray;
}
.img-size-zonas{
    width: 260px;
    height: 100px;
}

@media(min-width:768px){
/*ZONAS MQ */
.img-size-zonas{
    width: 350px;
    height: 150px;
    margin: 20px;
}

.section-clases{
    display: flex;
}
.section-clases p{
    margin: 10px;
}

.clases{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    justify-content: center;
}
// .mapas-clases{
//     display: flex;
// }

}

@media (min-width:1024px){

/* ZONAS MQ */
.img-size-zonas{
    width: 450px;
    height: 250px;
    margin: 50px;
}  
}